*{
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.ai-website {
  background: #100919 !important;
  margin: 0 !important;
  position: relative;
}
html{
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

body {
  margin: 0;
  padding: 0;

}


/* =============== HEADER CSS ============== */

.ai-header {
  padding: 32px 150px 24px 150px;
  font-family: Neue Haas Display Pro, sans-serif;
  /* position: sticky;
  top: 0;
  z-index: 100; */
    z-index: 99;
    width: 100%;
    position: fixed;
    top: 0;
}


.navbar-links {
  grid-column-gap: 2.5rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.navbar-link1 {
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700 !important;
  color: #d6d0e0 !important;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: translateY(10px);

}

.navbar-link {
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700 !important;
  color: #d6d0e0 !important;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: translateY(10px);
}
.navbar-link1:hover{
  animation: roll 0.5s;

}

@keyframes roll {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

.btn-download-app {
  background: #8c20f8 !important;
  font-weight: 700 !important;
  line-height: 1.5 !important;
  padding: 16px 32px !important;
  border-radius: 8px !important;
  letter-spacing: 1px;
}

.navbar-right-content{
  grid-column-gap: 48px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.scrollUp {
  transform: translateY(-100px);
}

.slideDown {
          transform: translateY(0);
}

.dddd{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: bottom;
}

.jjj{
  height: 100px;
  width: 100px;
  margin: 20px;
  background-color: #ecd5ab;
  text-align: center;
}

/* =============== HOME CSS ============== */

.home {
  display: flex;
  justify-content: center;
  padding: 200px 150px 0px 150px;
  font-family: Neue Haas Display Pro, sans-serif;
  /* position: sticky;
  top: 0;
  z-index: 100; */

}

.home1 {
  position: sticky;
  overflow-x: hidden;
  height: 600px;
}

.home-layer-one{
  position: relative;
  width: 1200px;
  height: 600px;
}

.small-animation-box {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 45%;
  top: 0;
  display:  flex !important;
  grid-column-gap: 17px;
}

.small-animation{
  background-color: #A14FF3;
  height: 5px;
  width: 1.5px;
  border-radius: 50px !important;

}

.small-animation1{
  background-color: #A14FF3;
  height: 10px;
  width: 1.5px;
  border-radius: 50px !important;

}

.small-animation-one {
  animation: smallanimation 1.5s ease-in 3s alternate infinite;
}
.small-animation-two {
  animation: smallanimation 1.5s ease-in 5s alternate infinite;
}
.small-animation-three {
  animation: smallanimation1 1.5s ease-in 2s alternate infinite;
}
.small-animation-four {
  animation: smallanimation 1.5s ease-in 1s alternate infinite;
}
.small-animation-five {
  animation: smallanimation1 1.5s ease-in 4s alternate infinite;
}

@keyframes smallanimation {
  0% {
    height: 5px;
  }
  50% {
    height: 15px;
  }
  60% {
    height: 15px;
  }
  100% {
    height: 25px;
  }

}

@keyframes smallanimation1 {
  0% {
    height: 5px;
  }
  50% {
    height: 10px;
  }
  60% {
    height: 10px;
  }
  100% {
    height: 20px;
  }

}




.home-layer-three {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 1160px;
  height: 600px;
  /* border: 3px solid forestgreen; */
}

.home-layer-three-box {
  position: relative;
  width: 1160px;
  height: 600px;
  /* border: 3px solid forestgreen; */
}


.corner-top, .corner-bottom {
  position: absolute;
  width: 13.5px;
  height: 13.5px;
  pointer-events: none;
  animation: borderanimation 5s infinite;
}

.corner-top {
  top: 0;
  border-top: 1.2px solid #9835F8;
  animation: borderanimation 5s infinite;
}

.corner-bottom {
  bottom: 0;
  border-bottom: 1.2px solid #9835F8;
  animation: borderanimation 5s infinite;
}

.corner-left {
  left: 30px;
  border-left: 1.2px solid #9835F8;
  animation: borderanimation 5s infinite;
}

.corner-right {
  right: 30px;
  border-right: 1.2px solid #9835F8;
  animation: borderanimation 5s infinite;
}


@keyframes borderanimation {
  0% {
    
    filter: blur(2px);
    transform: scale(1.2);
  }
  
  100% {
    filter: blur(0px);
    transform: scale(1);
  }
}


.home-layer-four{

  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  grid-column-gap: 150px;
}

.outer {
  width: 0.5px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.inner {
  position: absolute;
  height: 70%;
  background: #A14FF3;
  top: 20%;
  box-shadow: 75px 140px 30px 60px #A14FF3;
}


.inner2 {
  position: absolute;
  height: 70%;
  background: #A14FF3;
  top: 10%;
  box-shadow: 75px 140px 30px 60px #A14FF3;
}

.inner3 {
  position: absolute;
  height: 70%;
  background: #A14FF3;
  top: 15%;
  box-shadow: 75px 140px 30px 60px #A14FF3;
}

.big-animation{
  height: 630px;
  /* width: 0.07px; */
  border-radius: 50px !important;
}

.big-animation-two {
  position: relative;
}


.outer10  {
  width: 10px;
  height: 320px;
  overflow: hidden;
  position: relative;
}

.inner10 {
  position: absolute;
  height: 45px;
  width: 1.1px;
  top: 20px;
  filter: blur(.5px);

  box-shadow: 0px 2px -4px 0.1px #f8f7fa;
  background-image: linear-gradient(to bottom, #11021f 0.1%, #A14FF3 99%);
  animation: biganimation 2s forwards 0s infinite;
  /* z-index: 9999; */

}
.big-animation-sub {
  position: absolute;
  top: 270px;
}

@keyframes biganimation {
  0% {
    top: 20px;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 270px;
    opacity: 0;
  }
}

.scroll-down{
  position: absolute;
  top: 320px;
  left: -85px;
  transform:  rotateZ(-90deg);
  /* height: 200px; */
  color: #a980fc;
  font-weight: 700;
  letter-spacing: 1px;
  width: 130px;
}

.home-layer-five{
  width: 1200px;
  position: absolute;
  top: 150px;
  left: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.home-title{
  font-size: 90px;
  color: #DFCEF8 !important;
  letter-spacing: 1px;
  font-weight: 700;
}
.home-title1{
  font-size: 90px;
  color: #8C33E7 !important;
  letter-spacing: 1px;
  font-weight: 700;
}

.home-article{
  font-size: 25px;
  /* letter-spacing: 1px; */
  color: #B0A4C4;
  font-weight: 500;
}


.main-caption{
  background: #100919 !important;
  height: 2500px;

}



.video-section{
  display: flex;
  justify-content: center;
}

/* ===================== MOBILE ============== */
.mobile-panel{
  height: 490px;
  width: 250px;
  background-color: black;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px 1px #fdfcfc;
  overflow-x: hidden;
}
.mobile-in-panel{
  height: 483px;
  width: 245px;
  background-color: black;
  border-radius: 32px;
  /* position: relative; */
  display: flex;
  /* box-shadow: 0px 0px 0.2px 0.2px #fdfcfc; */
  border: .1px solid #fdfcfc;
  justify-content: center;
  overflow-x: hidden;

}

.mobile-panel::-webkit-scrollbar {
  display: none;
}

.mobile-in-panel1{}

.mobile-top-panel{
  height: 50px;
  /* margin-top: 5px; */
  background-color: transparent;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

}

.mobile-top-panel1{
  background-color: #1C1D21; 
  width: 234px;
  height: 463px;
  border-radius: 32px;

}

.mobile-top-panel2{
  background-color: black; 
  height: 478px;
  width: 240px;
  border-radius: 32px;
  /* position: relative; */
  display: flex;
  /* box-shadow: 0px 0px 0.2px 0.2px #fdfcfc; */
  justify-content: center;
  overflow-x: hidden;
  padding: 4px;

}

.mobile-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1D21;
  height: 50px;
  width: 230px;
  border-top-left-radius: 35px 35px;
  border-top-right-radius: 35px 35px;
  padding: 0 10px;

}

.mobile-icon{
  background-color: transparent;
width: 70px;

}
.mobile-camera1{
  width: 70px;
  margin-top: -1px;
  display: flex;
  justify-content: center;
}
.mobile-camera{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  background-color: rgb(248, 247, 247);
  margin-top: -18px;
  border-radius: 50%;
}
.mobile-in-camera{
  display: flex;
  justify-content: center;
  width: 10px;
  height: 10px;
  background-color: #040404;
  border-radius: 50%;
}

.mobile-top-text{
  color: #8C33E7;
  font-size: 10px;
  font-weight: 600;
}

.mobile-body{
  width: 231px;
  height: 140px; /* 162 */
  /* background-color: #040404; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-video{
  width: 230px; /* 263 */
  height: 140px; /* 160 */


  background-color: #1C1D21; /* 1448 */
}

video  {
  margin: 0;
}

.mobile-bottom{
  /* height: 100%; */
  margin-top: 0.11px;
  /* background-color: lightgreen; */
}

.chat-top{
  border: 0.5px solid rgb(66, 65, 65);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-top1{
  margin: 1px;
}

.chat-one{
  margin: 0;
  padding: 5px 10px;
  font-size: 13px;
  color: white;
}

.chat-body{

}

.chat-body-caption{
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.chat-avatar{
  height: 35px;
  width: 35px;
}

.chat-wrapping{
  padding: 5px 10px ;
}
.chat-wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.chat-two{
  margin: 0;
  font-size: 13px;
  padding: 1px;
  border: 0.5px solid rgb(66, 65, 65);
  text-align: center;
  color: white;
  border-radius: 7px;
}



.main-container{
  /* position: relative; */
}

.image-section{
  position: fixed;
  /* margin-bottom: -170px; */
  bottom: -110px;
  right: 20px;
  z-index: 9999;
}

.qrcode-image{
  height: 120px;
  width: 120px;
  background-color: #9b5fee;
  padding: 10px;
  border-radius: 20px;
}


.scrolled-up {
  transform: translate(0%, 0%) scale(1.5);
}

.scrolled-down {
  transform: translate(-50%, 0);
}

.active{

  margin-top: -300px;
  z-index: 1;
}

@keyframes homeanimation {
  0% {
    
    /* filter: blur(0px); */
    transform: scale(1);
  }
  
  100% {
    /* filter: blur(2px); */
    transform: scale(4);
  }
}



.bounce4 {
  position: absolute;
  top: 0px;  
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700 !important;
  color: #d6d0e0 !important;
  cursor: pointer;
}


.bounce2 {
  position: absolute;
  top: 0px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700 !important;
  color: #d6d0e0 !important;
  cursor: pointer;
  /* height: 30px; */
  animation: bounce2 0.2s ease;
}

.kkkk{
  opacity: 0;
  cursor: pointer;
}

/* .bounce2:hover{
  animation: bounce2 1s ease;
} */

@keyframes bounce2 {
  /* 0%, 20%, 50%, 80%, 100% {transform: translateY(0);} */
  0% {
    transform: translate3d(0px, -50%, 0px);
    /* transform: translateY(-15px); */
    opacity: 0;
    /* top: -5px; */

}
  100% {
    transform: translate3d(0px, 0%, 0px);
    top: 0px;
    opacity: 1;
}
}

.navbar-link3{
  position: relative;
  text-decoration: none;
  /* border: 1px solid green ; */
}

.bounce3 {
  position: absolute;
  top: 0;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700 !important;
  color: #d6d0e0 !important;
  cursor: pointer;
  /* height: 30px; */
  animation: bounce3 0.2s ease;
}

/* .bounce3:hover{
  animation: bounce3 2s ease;
} */

@keyframes bounce3 {
    /* 0%, 20%, 50%, 80%, 100% {transform: translateY(0);} */
    0% {transform: translate3d(0px, 50%, 0px);
      opacity: 0;
      /* top: 5px; */

  }
    100% {
      transform: translate3d(0px, 0%, 0px);
      top: 0;
      opacity: 1;
  }
}

      
/* ===================== CONTENT TWO ================== */
.ai-script-writer{
  /* margin-top: 600px; */
  height: 500px;
  background-color: transparent;
  /* z-index: 309; */
} 

.recording-and-production{
  /* margin-top: -200px; */
  height: 500px;
  background-color: transparent;
  /* z-index: 309; */
}
.content-two{
  text-align: left;
  padding: 50px 150px;
}

.recording-content{
  text-align: center;
  padding: 10px 150px;
}
.recording-content1{
  display: flex;
  justify-content: center;
}

.content-two-text1{
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #AB88FB;
  margin:  0;
  margin-left: 25px;
  font-weight: 700;

}
.content-two-text1::before{
  content: "";
  height: 13px;
  width: 13px;
  background-color: #AB88FB;
  display: block;
  margin-left: -23px;
  margin-bottom: -20px;
  border-radius: 50%;

}
.crecording-content-title{
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #AB88FB;
  margin:  0;
  margin-left: 25px;
  font-weight: 700;

}

.crecording-content-title::before{
  content: "";
  height: 13px;
  width: 13px;
  background-color: #AB88FB;
  display: block;
  margin-left: -23px;
  margin-bottom: -20px;
  border-radius: 50%;

}

.content-two-text2, .crecording-content-head-one {
  font-size: 64px;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  margin: 20px 0 0 0;
  font-weight: 700;
}

.content-two-text3 {
  font-size: 64px;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
  font-weight: 700;
}

.crecording-content-head-two{
  font-size: 64px;
  letter-spacing: 1.6px;
  color: #AB88FB;
  margin: 20px 0 0 0;
  font-weight: 700;
}

.content-two-text4{
  max-width: 530px;
  color: #FFFFFF;
  font-size: 20px;
  letter-spacing: 0px;
}

